<div>Change Password</div>
<br><br>

<form action="/perform-change-password" method="POST">
    Current Password:<input type="password" name="password"><br>
    New Password:<input type="password" name="new_password"><br>
    Confirm Password:<input type="password" name="confirm_password"><br>
    <input type="submit" value="Change Password"><br>
</form>

{{% if .Err %}}
<div style="color: red;">{{% .SErr %}}</div>
{{% end %}}

{{% if not .Err %}}
<div style="color: green;">{{% .SErr %}}</div>
{{% end %}}

<br><br>
<a href="/">index</a>
