<div>You are at register</div>
<br><br>

<form action="/perform-register" method="POST">
    Username:<input type="text" name="username">
    Password:<input type="password" name="password">
    Confirm Password:<input type="password" name="confirm_password">
    Name:<input type="text" name="name">
    Surname:<input type="text" name="surname">
    E-mail:<input type="text" name="email">
    <input type="submit" value="Register">
</form>

{{% if .Err %}}
<div style="color: red;">{{% .SErr %}}</div>
{{% end %}}

<br><br>
<a href="/">index</a>
