{{% define "layout" %}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{% .Title %}} - {{% .AppName %}} - {{% .Version %}}</title>

    <script src="/js/cookies-v1.2.3.min.js"></script>

    <script src="/js/ajax-utils.js?v={{% .Version %}}"></script>
    <script src="/js/date-utils.js?v={{% .Version %}}"></script>

    <link rel="stylesheet" href="/css/reset.css?v={{% .Version %}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inknut+Antiqua:700|Roboto:400,500">
    <link rel="stylesheet" href="/css/main.css?v={{% .Version %}}">
    <link rel="stylesheet" href="/css/index-main.css?v={{% .Version %}}">
    <link rel="stylesheet" href="/css/index-mq-600-plus.css?v={{% .Version %}}" media="(min-width=600px)">
</head>
<body>
    <header>
        <h1>Test Logo</h1>
        <nav></nav>
        <div>
            {{% if .Session.LoggedIn %}}
            <div class="LblUser">{{% .Session.User.Username %}} <a href="/logout">logout</a></div>
            {{% end %}}
        </div>
    </header>

    <main>
        <div>
            {{% template "content" . %}}
        </div>
    </main>

    <article>
        <section></section>
        <section></section>
        <section></section>
    </article>

    <article>
        <section></section>
        <section></section>
        <section></section>
    </article>

    <article>
        <section></section>
        <section></section>
        <section></section>
    </article>

    <footer></footer>
</body>
</html>
{{% end %}}
