{{% define "layout" %}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{% .Title %}} - {{% .AppName %}} - {{% .Version %}}</title>
    <style>
        html {
            font-size: 48px;
        }
    </style>

    <script src="/js/ajax-utils.js?v={{% .Version %}}"></script>
</head>
<body>
    <div>
        {{% if .Session.LoggedIn %}}
        <div style="text-align: right">{{% .Session.User.Username %}} <a href="/logout">logout</a></div>
        {{% end %}}
    </div>
    <div>
        {{% template "content" . %}}
    </div>
</body>
</html>
{{% end %}}
